* {
  border-radius: 5px;
  font-family: "JetBrains Mono";
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
}
ul li::before {
  content: "-";
  padding-right: 1ch;
}

.flexbox_standard {
  display: flex;
  box-sizing: border-box;
}

.flexbox_space_between {
  justify-content: space-between;
}

.flexbox_gaps {
  gap: 20px;
}

.grid_standard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box_standard, .box_standard_no_hover {
  width: fit-content;
  height: fit-content;
  margin: 10px;
  padding: 10px 20px;
  min-width: 0;
  flex-shrink: 0;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.box_borderless {
  width: fit-content;
  height: fit-content;
  margin: 10px;
  padding: 10px 20px;
  flex-shrink: 0;
  padding: 0px;
}

.box_space_filling_flexbox, .box_space_filling_flexbox_no_hover {
  width: auto;
  height: fit-content;
  margin: 10px;
  padding: 10px 20px;
  flex-grow: 1;
}

.box_space_filling_grid, .box_space_filling_grid_no_hover {
  width: 1fr;
  height: fit-content;
  margin: 10px;
  padding: 10px 20px;
}

.box_input, .box_button {
  width: fit-content;
  height: fit-content;
  margin: 10px;
  padding: 10px 20px;
  margin: 10px 0px;
  padding: 5px 10px;
}

#navigation_bar {
  padding: 10px 20px;
}

#page_content__stuff {
  padding: 0px 100px;
}

#page_content__generator__output {
  min-width: 0;
  flex: 1 1 auto;
  white-space: normal;
  word-break: break-word;
}

*:focus {
  color: rgb(30, 30, 46) !important;
  background-color: rgb(205, 214, 244) !important;
  border: transparent solid 2px !important;
  outline: none !important;
}

*::placeholder {
  color: rgb(127, 132, 156);
}

body {
  background-color: rgb(30, 30, 46);
}

a {
  text-decoration: none;
}
a:link {
  color: rgb(137, 180, 250);
}
a:visited {
  color: rgb(203, 166, 247);
}
a:active {
  color: rgb(243, 139, 168);
}
a:hover {
  color: rgb(166, 227, 161);
}

.box_standard, .box_space_filling_flexbox, .box_space_filling_grid {
  color: rgb(205, 214, 244);
  background-color: rgb(30, 30, 46);
  border: rgb(180, 190, 254) solid 2px;
  border-radius: 20px;
}
.box_standard:hover, .box_space_filling_flexbox:hover, .box_space_filling_grid:hover {
  color: rgb(30, 30, 46);
  background-color: rgb(205, 214, 244);
  border: transparent solid 2px;
}

.box_standard_no_hover, .box_space_filling_flexbox_no_hover, .box_space_filling_grid_no_hover {
  color: rgb(205, 214, 244);
  background-color: rgb(30, 30, 46);
  border: rgb(180, 190, 254) solid 2px;
  border-radius: 20px;
}

.box_input {
  color: rgb(205, 214, 244);
  background-color: rgb(30, 30, 46);
  border: rgb(180, 190, 254) solid 2px;
  border-radius: 10px;
}

.box_button {
  color: rgb(205, 214, 244);
  background-color: rgb(30, 30, 46);
  border: rgb(180, 190, 254) solid 2px;
  border-radius: 100px;
}

.box_borderless {
  color: rgb(205, 214, 244);
  background-color: rgb(30, 30, 46);
  border: transparent solid 2px;
  border-radius: 20px;
}

#navigation_bar {
  color: rgb(205, 214, 244);
  background-color: rgb(24, 24, 37);
}

/*# sourceMappingURL=style.css.map */
