* {
    border-radius: 5px;
    font-family: 'JetBrains Mono';
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;

    & li::before {
        content: "-";
        padding-right: 1ch;
    }
}