* {
    border-radius: 5px;
    font-family: 'JetBrainsMono';
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding-left: 0;

    li {
        display: flex;
        align-items: flex-start;

        &::before {
            content: "-";
            padding-right: 1ch;
            flex-shrink: 0;
        }
    }
}