// COLOR VARIABLES

$mauve: rgb(203, 166, 247);
$red: rgb(243, 139, 168);
$green: rgb(166, 227, 161);
$blue: rgb(137, 180, 250);
$lavender: rgb(180, 190, 254);

$text: rgb(205, 214, 244);
$overlay1: rgb(127, 132, 156);
$base: rgb(30, 30, 46);
$mantle: rgb(24, 24, 37);

// MIXINS

@mixin box($color, $background-color, $border, $border-radius) {
    color: $color;
    background-color: $background-color;
    border: $border;
    border-radius: $border-radius;
}

// THE BASIC HTML ELEMENTS

* {
    border-radius: 0px;

    &:focus {
        color: $base !important;
        background-color: $text !important;
        border-color: transparent !important;
        outline: none !important;
    }

    &::selection {
        color: $base;
        background-color: $text;
    }

    &::placeholder {
        color: $overlay1;
    }
}

body {
    background-color: $base;
}

a {
    text-decoration: none;
    
    &:link {
        color: $blue;
    }

    &:visited {
        color: $mauve;
    }

    &:active {
        color: $red;
    }

    &:hover {
        color: $green;
    }
}

// THE BASIC CONTAINERS

.rounding_minor {
    border-radius: 5px;
}

.box_standard, .box_space_filling_flexbox, .box_space_filling_grid {
    @include box($text, $base, $lavender solid 2px, 20px);

    &:hover {
        @include box($base, $text, transparent solid 2px, 20px);
        
        *::selection {
            color: $text;
            background-color: $base;
        }
    }
}

.box_standard_no_hover, .box_space_filling_flexbox_no_hover, .box_space_filling_grid_no_hover {
    @include box($text, $base, $lavender solid 2px, 20px);
}

.box_borderless {
    @include box($text, $base, transparent solid 2px, 20px);
}

.box_input {
    @include box($text, $base, $lavender solid 2px, 10px);
}

.box_button,.box_button_space_filling_grid {
    @include box($text, $base, $lavender solid 2px, 100px);

    &:hover {
        @include box($base, $text, transparent solid 2px, 100px);
    }
}

.box_button_space_filling_grid_no_hover {
    @include box($text, $base, $lavender solid 2px, 100px); 
}

// THE IDS IF CLASSES AREN'T ENOUGH

#navigation_bar {
    color: $text;
    background-color: $mantle;
}