// MIXINS

@mixin box($width, $height) {
    width: $width;
    height: $height;
    margin: 10px;
    padding: 10px 20px;
}

// THE BASIC DISPLAYS

.flexbox_standard, .flexbox_no_break {
    display: flex;
    box-sizing: border-box;
}

.flexbox_space_between {
    justify-content: space-between;
}

.flexbox_gaps {
    gap: 20px;
}

.grid_standard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

// THE BASIC CONTAINERS

.box_standard, .box_standard_no_hover {
    @include box(fit-content, fit-content);
    min-width: 0;
    flex-shrink: 0;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.box_borderless {
    @include box(fit-content, fit-content);
    flex-shrink: 0;
    padding: 0px;
}

.box_space_filling_flexbox, .box_space_filling_flexbox_no_hover {
    @include box(auto, fit-content);
    flex-grow: 1;
}

.box_space_filling_grid, .box_space_filling_grid_no_hover, .box_button_space_filling_grid, .box_button_space_filling_grid_no_hover {
    @include box(1fr, fit-content);
}

.box_input, .box_button {
    @include box(fit-content, fit-content);
    margin: 10px 0px;
    padding: 5px 10px;
}

// MEDIA BREAKPOINTS FOR MOBILE & SMALL SCREENS

@media (max-width: 950px) {
    .flexbox_standard {
        display: flex !important;
        flex-direction: column !important;
        box-sizing: border-box !important;
    }

    .grid_standard {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }

    .box_standard, .box_standard_no_hover {
        width: auto !important;
    }

    #page_content__stuff {
        padding: 0px 40px !important;
    }
}

@media (max-width: 404px) {
    .flexbox_no_break {
        display: flex !important;
        flex-direction: column !important;
        box-sizing: border-box !important;
    }

    #page_content__stuff {
        padding: 0px 20px !important;
    }
}

// THE IDS IF CLASSES AREN'T ENOUGH

#navigation_bar {
    padding: 10px 20px;
}

#page_content__stuff {
    padding: 0px 100px;
}

#page_content__generator__output {
    min-width: 0;
    flex: 1 1 auto;
    white-space: normal;
    word-break: break-word;
}